<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>{{ institution }} Student Hostel</title>
</head>
<body>
<h3>{{ institution }} Student Accomodation Portal!</h3>
<p>Welcome to the {{ institution }} Accommodation Portal. </p>
<p>The portal is designed to give you information that will enable you make informed choices on Accommodation before and during your stay with us. 
It will also allow you to apply for Hostel within {{ institution }} and check or trac application status of your application.
 We shall publish all application allocation for each student here. </p>
 <p>We are happy that you have chosen to reside in our hostels and wish you a pleasant stay at {{ institution }}.</p>
 <p><strong>You are logged in as </strong><code>{{owner}}</code>. <strong>Want to login as a different person? </strong><a href={{logout_url}}>Click</a>
</body>
</html>