<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="/css/css.css">
<title>{{ institution }}</title>
</head>
<body>
<div id="userinfo">
       <table>
		   <tr>
		   <td><a href="/">Home</a></td>
		   <td>|</td>
		   <td><a href="/application">Hostel Application</a></td>
		   <td>|</td>
		   <td><a href="/status">Check Application Status</a></td>
		   <td>|</td>
		   <td><a href="/csv" target="_blank">Download Applicants</a></td>
		   <td>|</td>
		   <td><a href="/upload_csv">Upload CSV</a></td>
		   <td>|</td>
		   <td><a href="http://accommodation.ku.ac.ke">Accomodation Website</a></td>
		   </tr>
	  </table>
		</div>
<div id="main">
<div id="top">
<img src="/images/logo.png">
</div>
<div id="bottom">
{{ app }}
</div>
</div>
</body>
</html>