<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Student Email Details</title>

<script type="text/javascript" src="/js/validateForm.js"></script>
</head>
<body>
<table>
 <tr><td><h4>The registration number you entered is not found or is  Invalid.
 Please enter the correct registration number in the format;- A11/50002/18<td></tr>
 </table>
  <a href="/">Back</a>
</body>
</html>