<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>{{ institution }} Student Hostel</title>
</head>
<body>

 <!-- Main hero unit for a primary marketing message or call to action -->
      <div class=>
        <h2>{{ institution }} Student Accomodation Portal</h2>
        <p>We are currently implementing Google Apps for student emails. All {{ institution }} students can now use University email addresses. </p>
        <p>Get your Hostel below by entering your registration number below.</p>
        <p><a class="btn primary large" href="http://www.google.com/apps/intl/en/landing/top100schools/" target="_blank">Learn more about Google Apps &raquo;</a></p>
      </div>
        <div class="span10">
          <h3>Get Your Hostel Details</h3>
           <p>		<form  action="/student_details">
           Select Period
           <select name="period">
           {% for per in periods %}
               <option value="{{ per.period }}"> {{ per.period }}</option>
            {% endfor %}
               </select></td>
               <p>
			<span class="label">Enter Your Registration Number</span><br/>
			<input name="regno" type="text" size="20"/>
			<input name="submit" type="submit" value="Submit" class="btn"/>
		</form>
		</p>
       </div>
       </div>
</body>
</html>