<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
</head>
<body>
      <div class="">
       <h2>Students Accomodation</h2>
       <p>Welcome to Kenyatta University Accommodation Portal.</p>
      <p>To check for your hostel allocation status, you must sign into this application using your official KU Student school email.
       If you don't have or don't know your school email, please proceed to check here: <a href="http://studentmails.ku.ac.ke/" target="_blank">email</a>, if you don't find it, please visit or contact ICT Department
       <h4>Sign in <a href={{login_url}}>here</a> to check for hostel allocation status</h4>
      </div>
</body>
</html>